.whole-form {
    border: 2px solid white;
    display: inline-block;

    h2 {
        text-align: center;
        color: silver;
        text-shadow: 1px 1px gray;
    }

    .form-div {
        margin: 10px;

        label {
            color:beige;
        }
    }

    button[type="submit"] {
        background-color:lightblue;
        margin: 10px;
    }
}


