body {
    background-color:rgb(20, 20, 20);
}

h1 {
    color:beige;
    text-align: center;
}

p, a, details {
    color:beige;
}

li {
    color: white;
}

.flash-messages {
    .flash {
        &.success {
            color: green;
        }

        &.error {
            color: red;
        }
    }
}