<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Welcome to the Windmill Crusaders Project Management Tool.
        To get started, please register/login. If you are still a pending employee,
        please contact Ben through Discord or Text.
    </p>  
<%- include('partials/footer') %>
    