<%- include('../partials/header') %>
<main>
    <h1>Someone Messed Up...</h1>
    <div class="message-404">
        <h3>This page doesn't exist, so either we messed up with our website navigation,
            or you did something silly and tried to visit a page such as "/free-pie" or "/win/a-billion-dollars".
            These pages don't exist, and if they did, we'd be pretty excited about it.
        </h3>
        <p><a href="/">Home Page</a></p>
    </div>
</main>
<%-include('../partials/footer') %>
