<%- include('../../partials/header') %>
<main>
    <h1><%= title %></h1>

    <form class="whole-form" method="POST" action="/login">
        <h2>Login</h2>
        <div class="form-div">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-div">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</main>
<%- include('../../partials/footer') %>